.top {
    background: #FFFFFF;
    width: 1920px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-box {
    width: 1120px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    margin: 0;
    padding: 0;
}

/* 페이지 컨테이너 */
.container {
    width: 100%;           
    max-width: 1920px;     
    margin: 0 auto;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}



.main-section {
    position: relative;
    width: 1920px;
    height: 540px;  
    background-color: #CFE5FF;
    display: flex;
    justify-content: center;
    align-items: center; /* 중앙 배치를 위해 추가 */
    gap: 10px;

}

.main-section-box {
    position:  absolute; 
    width: 1110px;
    height: 340px;
    bottom: 0px; 
    display: flex;
    align-items: center; /* 중앙 배치를 위해 추가 */
    justify-content: space-between; /* 요소 간 공간을 최대한 넓게 */
}

.main-section-box2 {
    position:  absolute; 
    width: 1110px;
    height: 397px;
    bottom: 0px; 
    display: flex;
    align-items: center; /* 중앙 배치를 위해 추가 */
    justify-content: space-between; /* 요소 간 공간을 최대한 넓게 */
}


.watch-box {
    width: 357px;
    height:56px;
    border-radius: 40px;
    background-color: #3692FF;
    display: flex;            /* Flexbox 활성화 */
    justify-content: center;   /* 가로 중앙 정렬 */
    align-items: center;       /* 세로 중앙 정렬 */
}

.section-in1{
    width: 357px;
    height: 260px;
    padding: 0 0 60px 0; /* 아래쪽 패딩 60px 추가 */
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 좌측 정렬 */
    gap: 32px; /* 텍스트 상자와 버튼 사이 간격 */
    background-color: #CFE5FF; /* 필요 시 배경색 설정 */
}

.section-in2 {

    height: 172px;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 좌측 정렬 */
    gap: 32px; /* 텍스트 상자와 버튼 사이 간격 */
    background-color: #CFE5FF; /* 필요 시 배경색 설정 */
}

.section-in1-1 {

    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.final-mid {
    width: 159px;
    height: 19px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.final-mid-left {
    width: 100px;
    height: 19px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    text-align: center;
    color: #E5E7EB;

}

.final-mid-right {
    width: 29px;
    height: 19px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    text-align: center;
    color: #E5E7EB;
}

.section-in1-text {
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
    text-align: left;
    white-space: normal; /* 줄바꿈 허용 */
    overflow-wrap: break-word; /* 단어가 길 때 줄바꿈 */
}

.section-in2-text {
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    color: #374151;
    top: 0px;
}

.main-banner {
    position: absolute;   
    bottom: 0;             /* 하단에 붙이기 */
    right: 0;              /* 오른쪽에 붙이기 */
    max-width: 100%;       /* 필요 시 이미지 크기 조정 */
    height: auto;
}

.middle-section {
    width: 1920px;
    height: 720px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.middle-content{
    width: 298px;
    height: 238px;
    padding: 0px 24px 0px 0px;
    gap: 12px;
    opacity: 0px;
    
}

.middle-box {
    width: 988px;
    height: 444px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCFCFC;
}

.content {
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.logobox {
    width: 153px;
    height: 51px;
    display: flex;          /* 가로 배치를 위한 Flexbox 활성화 */
    align-items: center;     /* 세로 중앙 정렬 */
    gap: 8px;   
}

.toplogo {
    width: 40px;
    height: 40.14px;
    top: 5.02px;
    gap: 0px;
    opacity: 0px;
}


.login-box {
    width: 153px;
    height: 51px;
    border-radius: 8px;
    background: #3692FF;
    display: flex;
    align-items: center;     /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
}

.login-text {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #F3F4F6;
    text-align: center;
    cursor: pointer;
}

.logotext { 
    width: 103px;
    height: 35px;
    top: 9.76px;
    left: 48.59px;
    gap: 0px;
    opacity: 0px;

    font-family: ROKAF Sans;
    font-size: 25.63px;
    font-weight: 700;
    line-height: 34.6px;
    text-align: left;
    color: #3692FF;
}

.watch-text{
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color: #F9FAFB;
}

.final-section{
    position: relative; /* 부모 요소 기준으로 위치 설정 */
    width: 1920px;
    height: 160px;
    background-color:#111827;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-section-box {
    position: absolute; /* 부모 기준으로 위치 지정 */
    width: 1120px; 
    height: 20px; 
    display: flex;
    justify-content: space-between;
    top: 25%; /* 부모의 높이 기준 25% 지점 */

    align-items: center;

}

.final-left {
    height: 19px;
}

.final-left-text {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    text-align: center;
    color:#9CA3AF;
}