.productGalleryWrapper {
  margin-top: 16px;
  width: 1200px;
  height: 1206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 40px;
}

.productGallery {
  display: flex;
  justify-content: center;
}

.productGalleryBestImg {
  width: 100%;
  height: 282px;
  background-color: white;
}

.productGalleryBestData {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  gap: 7px;
}

.AllMenuOption {
  display: flex;
  gap: 12px;
}

.AllMenuTitle {
  width: 100px;
  height: 32px;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #111827;
}

.productGalleryAllMenu {
  height: 42px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.productGalleryAllMain {
  height: 674px;
  background-color: white;
  display: flex;
  justify-content: flex-start; /* 아이템을 왼쪽 정렬 */
  flex-wrap: wrap; /* 아이템이 넘치면 줄 바꿈 */
  gap: 23.6px;
}

.productGalleryBest {
  background-color: white;
  width: 100%;
  height: 426px;
  display: flex;
  flex-direction: column;
}

.dataName,
.dataPrice {
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 끝에 '...'으로 처리 */
  white-space: nowrap; /* 텍스트 한 줄로 처리 */
}

.dataName {
  height: 24px;
  color: #1f2937;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.dataPrice {
  height: 26px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.productGalleryAll {
  background-color: white;
  width: 100%;
  height: 740px;
  display: flex; /* Flexbox로 설정 */
  flex-direction: column;
}

.productGalleryAllMainBox {
  height: 317px;
  background-color: yellow;
  display: flex;
  gap: 24px;
}

.AllMainBoxItemImg {
  width: 100%;
  height: 221px;
  background-color: white;
}

.AllMainBoxItemData {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.productGalleryAllMainBoxItem {
  width: 221px;
  height: 317px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productGalleryBestText {
  width: 200px;
  height: 32px;
  background-color: white;
  color: #111827;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.productGalleryBestImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productGalleryAllMain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productGalleryBestMain {
  background-color: white;
  width: 100%;
  height: 378px;
  gap: 27px;
  display: flex; /* flexbox로 배치 */
}

.productGalleryBestMainBox {
  width: 282px;
  height: 378px;
  background-color: white;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productGalleryBest,
.productGalleryAll {

  gap: 24px;
}
/* 
.product img {
  max-width: 100%;
  height: auto;
}*/



.favoriteButton {
  background: none; /* 배경 제거 */
  border: none; /* 테두리 제거 */
  display: flex;
  align-items: center;
  cursor: pointer; /* 버튼 클릭 가능 표시 */
  padding: 0; /* 버튼 안쪽 여백 제거 */
}

.heartIcon {
  width: 18px;
  height: 18px;
}

.favoriteCount {
  font-size: 1rem;
  color: #333;
}

.productGalleryBestData {
  display: flex;
  flex-direction: column;
}

.sortOptions {
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.productSearch {
  width: 325px;
  height: 42px;
  border-radius: 12px;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 200px;
  border: none;
  background-color: #f3f4f6;
  margin-left: 20px;
}

.sortOptions select {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
  background-color: FFFFFF;
  font-size: 14px;
  color: #333; /* 글자 색 설정 */
}

.AllMenuOptionBtn {
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: #3692ff;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f3f4f6;
  display: flex;
  align-items: center;
  border: none; /* 테두리 제거 */
  justify-content: center;
}

.productImage {
  width: 100%; /* 부모 요소의 너비에 맞게 크기 조정 */
  max-width: 300px; /* 최대 너비 설정 (원하는 크기로 조정) */
  height: auto; /* 비율에 맞게 높이 자동 조정 */
  object-fit: cover; /* 이미지를 부모 요소에 맞게 잘라서 채우기 */
  border-radius: 16px;
}


/* Tablet 뷰 */
@media (min-width: 768px) and (max-width: 1024px) {
  .productGalleryWrapper {
    width: calc(100% - 48px);
    height: 1342px;
  }
   
  .productSearch { 
    position: relative; /* 상대적 위치 설정 */
    right: -10%; /* 오른쪽에서 120px 간격 */
  }

  .AllMenuOptionBtn { 
    position: relative; /* 상대적 위치 설정 */
    right: -20%; /* 오른쪽에서 120px 간격 */
  }


  .productGalleryWrapper > :first-child {
    width: 100%;
    height: 482px;
  }

  .productGalleryBestMain {
    height: 434px;
    position: relative; /* 상대적 위치 설정 */
  }

  .productGalleryBestMainBox {
    width: calc((100% - 10px) / 2);
    height: 434px;
  }

  .productGalleryBestImg {
    height: auto; /* 세로 크기는 자동으로 설정 */
    aspect-ratio: 1; /* 가로와 세로 비율을 1:1로 설정 */
  }

  .productImage {
    max-width: 800.5px !important; /* 최대 너비 설정 (원하는 크기로 조정) */

  }

  .productGalleryAll {
    height: 840px;
  }

  .productGalleryAllMenu {
    width: 100%;
  }

  .productSearch {
    width: 242px;
  }

  .AllMenuOption { 
    width: 529px; 
  }

  .productGalleryAll {
    height: 820px;
  }

  .productGalleryAllMain {
    height: 754px;
    gap: 16px;
  }

  .productGalleryAllMainBoxItem {
    width: calc((100% - 32px) / 3);
  } 


}

@media (max-width: 768px) {

  .productGalleryWrapper {
    width: calc(100% - 32px);
    height: 1278px;
  }

  .productGalleryWrapper > :first-child {
    width: 100%;
    height: 482px;
  }

  .productGalleryBestMain {
    height: 434px;
  }

  .productGalleryBestMainBox {
    width: 100%;
    height: 434px;
  }

  .productGalleryBestImg {
    height: auto; /* 세로 크기는 자동으로 설정 */
    aspect-ratio: 1; /* 가로와 세로 비율을 1:1로 설정 */
  }

  .productImage {
    max-width: 768px !important; 
  }

  .productGalleryAll {
    height: 748px;
  }

  .productGalleryAllMenu {
    width: 100%;
    height: 92px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 행 사이의 간격 */
    padding: 10px; /* 내부 여백 추가 */
  }
  
  .AllMenuOptionBtn {
    order: 3;

  }
  
  .productSearch {
    order: 1;
  }

  .sortOptions {
    order: 2;
    width: 42px;
  }
  
 

  .productSearch {
    width: 288px;
  }

  .AllMenuOption { 
    width: 529px; 
    flex-wrap: nowrap; /* 자식 요소들이 1행에 배치되도록 설정 */
    
  }

  .productGalleryAll {
    height: 668px;
  }

  .productGalleryAllMain {
    height: 754px;
    gap: 8px;
  }

  .productGalleryAllMainBoxItem {
    width: calc((100% - 8px) / 2);
    height: 264px;
  } 


}


@media (min-width: 1024px) {  
 
  .AllMenuOptionBtn { 

    position: relative; /* 상대적 위치 설정 */
    right: -160px; /* 오른쪽에서 120px 간격 */
  }

  .productGalleryAllMenu {
    position: relative;
  }

  .productSearch { 

    position: relative; /* 상대적 위치 설정 */
    right: -320px; /* 오른쪽에서 120px 간격 */
  }

}