:root {
  /* Gray scale */
  --gray-900: #1b1d1f;
  --gray-800: #26282b;
  --gray-600: #454c53;
  --gray-500: #72787f;
  --gray-400: #9ea4a8;
  --gray-200: #e5e7eb;
  --gray-100: #e8ebed;
  --gray-50: #f7f7f8;

  /* Primary color */
  --blue: #3692ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





body {
  color: #374151;
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}

main {
  margin-top: 70px;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px 200px;
  font-size: 16px;
  padding-bottom: 50px; /* 하단 여백 추가 */
}

#footerMenu {
  display: flex;
  gap: 30px;
  color: var(--gray-200);
}

#socialMedia {
  display: flex;
  gap: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button {
  background-color: var(--blue);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #1967d6;
}

.button:focus {
  background-color: #1251aa;
}

.button:disabled {
  background-color: #9ca3af;
  cursor: default;
  pointer-events: none;
}

.pill-button {
  font-size: 20px;
  font-weight: 700;
  border-radius: 999px;
  padding: 16px 126px;
}

.full-width {
  width: 100%;
}


/* Mobile (375px ~ 767px) */
@media (min-width: 375px) and (max-width: 767px) {
  header {
    padding: 0 16px !important; 
  } 

  footer {
    padding: 16px !important; 
    height: 160px;
    position: relative; /* footer를 위치 기준으로 설정 */
  }

  .logo {
    margin-left: 0px;
  }

  #signinLinkButton {
    margin-right: 0px;
  }
  
  #hero {   
    position: relative;
  }

  #hero .wrapper {
    position: absolute;
    top: 48px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 135px); /* 좌우 여백 67.5px씩 */
    transform: translateX(25%);
    height: 156px;
    gap: 17px; /* 자식 요소 간의 간격을 12px로 설정 */
  }

   
  #bottomBanner .wrapper {
    position: absolute;
    top: 116px; /* #bottomBanner의 위쪽에서 116px 떨어진 위치 */
    display: flex;
    flex-direction: column;
    width: calc(100% - 135px); /* 좌우 여백 67.5px씩 */
    transform: translateX(25%);
    height: 156px;
    gap: 17px; /* 자식 요소 간의 간격을 12px로 설정 */
  }


  .button.pill-button {
    height: 48px; /* 버튼 높이를 48px로 제한 */
    line-height: 48px; /* 텍스트가 중앙에 오도록 line-height를 맞춤 */
    padding: 0 12px; /* 좌우 여백은 유지 */
    font-size: 16px; /* 필요에 따라 폰트 크기 조정 */
}


  
  #hero h1 {
    font-family: Pretendard;
    font-size: 31px;
    font-weight: 700;
    line-height: 44.8px;
    text-align: center;
  }
  
  #bottomBanner h1 {

    font-family: Pretendard;
    font-size: 31px;
    font-weight: 700;
    line-height: 44.8px;
    text-align: center;
  }
  
  footer > :first-child {
    position: absolute;
    bottom: 32px;  
    left: 32px;    
 }
  
 footer > :nth-child(2) {
  position: absolute;
  top: 32px;   
  left: 32px;   
}

footer > :nth-child(3) {
  position: absolute;
  top: 32px;    
  right: 32px;   
}

}

@media (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 0 24px !important; 

  } 

  footer {
    padding: 24 x !important; 
    height: 160px;
    position: relative; /* footer를 위치 기준으로 설정 */
  }

  .logo {
    margin-left: 0px;
  }

  #signinLinkButton {
    margin-right: 0px;
  }
  


  #hero {   
    position: relative;
  }

  #hero .wrapper {
    position: absolute;
    top: 84px;
    display: flex;
    align-items: center; /* 내부 요소를 가로 가운데 정렬 */
    flex-direction: column;
    width: calc(100% - 262px); /* 좌우 여백 67.5px씩 */
    transform: translateX(18%);
    height: 136px;
    gap: 24px; /* 자식 요소 간의 간격을 12px로 설정 */
  }

  
   
  #bottomBanner .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 449px); /* 너비를 부모 요소에 맞게 조정 */
    margin: 50px auto 0;
    height: 112px; /* 내용에 따라 높이가 조절되도록 설정 */
    transform: translateY(-200px); /* 요소를 위로 50px 이동 */
    gap: 17px;
  }


  .button.pill-button {
    height: 56px; /* 버튼 높이를 48px로 제한 */
    width: calc(100% - 155px); 
    line-height: 56px; /* 텍스트가 중앙에 오도록 line-height를 맞춤 */
    padding: 0 12px; /* 좌우 여백은 유지 */
    font-size: 16px; /* 필요에 따라 폰트 크기 조정 */
}


  
  #hero h1 {
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;


  }
  
  #bottomBanner h1 {

    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
  }
  
  footer > :first-child {
    position: absolute;
    top: 32px;  
    left: 104px;    
 }
  
 footer > :nth-child(2) {
  position: absolute;
  top: 32px;   
  left: 445.445px;   
}

footer > :nth-child(3) {
  position: absolute;
  top: 32px;    
  right: 104px;   
}

}



